
/* Base HTML styles */
html {
    font-size: 10px;                 /* Sets the root font size to 10px. Other relative units like 'rem' often base their calculations on this value. */
    font-family: "Roboto Mono", monospace; /* Sets the default font family. "Roboto Mono" is the primary font, and "roboto-mono" acts as a fallback. */
    background-color: #000000;      /* Sets the background color of the entire document to black. */
}

/* Heading 1 styles */
h1 {
    font-size: 60px;                /* Specifies the font size for h1 headings as 60px. */
    text-align: center;             /* Centers the text horizontally within its container. */
    margin: 0;                      /* Removes the default margin from the top and bottom of the h1 heading. */
    padding: 20px 0;                /* Adds padding of 20px to the top and bottom of the h1, with 0 padding on the left and right. */
    color: #06cb13;                /* Sets the text color for h1 headings to a shade of green. */
    text-shadow: 3px 3px 1px #a309ba; /* Applies a text shadow that is 3px to the right, 3px down, with a 1px blur radius, and in a shade of purple. */
}

/* Styles for paragraphs and list items */
p, 
li {
    font-size: 20px;                /* Sets the font size for both paragraphs (p) and list items (li) to 20px. */
    line-height: 2;                 /* Doubles the space between lines of text, creating a more spacious look. */
    letter-spacing: 1px;           /* Increases the space between individual letters by 1px, improving readability. */
    color: #06cb13;                /* Sets the text color for paragraphs and list items to the same shade of green as h1 headings. */
    margin-left: 20px;             /* Adds 20px of space to the left side of paragraphs and list items. */
    margin-right: 20px;            /* Adds 20px of space to the right side of paragraphs and list items. */
}


main {
    width: 90%; /* This will make the width relative to its parent, often the viewport. */
    max-width: 900px; /* This sets a maximum width, preventing it from becoming too wide on large screens. */
    margin: 0 auto; /* Centers the box */
    padding: 0 20px 20px 20px; /* Retain your padding or adjust as needed */
}

.mainProject {
  width: 90%; /* This will make the width relative to its parent, often the viewport. */
  max-width: 900px; /* This sets a maximum width, preventing it from becoming too wide on large screens. */
  margin: 0 auto; /* Centers the box */
  padding: 0 20px 20px 20px; /* Retain your padding or adjust as needed */
  color: black;
}


/* Navigation bar styles */
nav {
  height: 50px;              /* Sets a fixed height for the navigation bar to 50px. */
  text-align:center;         /* Centers the navigation items (like links) horizontally within the navbar. */
}


/* Styling for unordered lists within the navigation bar */
nav ul {
  list-style-type: none;     /* Removes the bullet points usually seen in unordered lists. */
  padding: 0;                /* Removes default padding from the unordered list. */
  margin: 0;                 /* Removes default margins from the unordered list. */
}

/* Styling for list items within the navigation bar */
nav li {
  display: inline-block;     /* Allows list items to be placed side-by-side (horizontally). */
  margin-right: 20px;       /* Adds 20px of space to the right side of each list item, creating spacing between links. */
}

/* Styles for navigation buttons */
.nav-button {
display: inline-block;      /* Allows for horizontal alignment, similar to inline, but maintains block properties. */
padding: 10px 15px;         /* Adds 10px of padding at the top and bottom, and 15px on the left and right sides of the button. */
border: 2px solid #06cb13;  /* Sets a 2px thick green border around the button. */
border-radius: 5px;         /* Rounds the corners of the button for a softer look. */
text-decoration: none;      /* Removes the default underline usually seen on links. */
color: #06cb13;             /* Sets the text color of the button to green. */
background-color: #000;     /* Sets the background color of the button to black. */
transition: background-color 0.3s, color 0.3s;  /* Smooth transition for hover effects, with a duration of 0.3 seconds. */
}

/* Hover effect for navigation buttons */
.nav-button:hover {
background-color: #06cb13;  /* Changes the background color to green when hovered. */
color: #000;                /* Changes the text color to black when hovered. */
}

/*body.terminal-view main {
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
}*/

@font-face {
  font-family: 'GregorianFLF';
  src: url('../fonts/GregorianFLF.ttf') format('truetype');
}

.custom-font {
  font-family: 'GregorianFLF', sans-serif;
}


.project-wrapper {
  padding-left: 20px; /* To move content a bit away from the left edge */
}

.project-wrapper h1 {
  text-align: left;
}

.static-text-box {
  /* Set the fixed height of the box */
  height: 250px;

  /* Handle the overflow */
  overflow-y: hidden; /* or you can use 'hidden' if you don't want a scrollbar */

  /* Set the width of the box */
  width: 100%;  /* or any fixed width */

}
